@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --main-color: #62ad52;
  --button-text-color: #030303a6;
  --calc-screen-color: #0303037c;
  --secondary-color: #525a5a;
  --main-background-color: #a5d898;
  --border-color: #c0dfd9;
  --header-footer-color: rgb(255, 255, 255);
  --calc-main-color: #52adac;
  --calc-light-shadow: #61cccb;
  --calc-dark-shadow: #438e8d;
  --border-radius: 16px;

  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: 'Lobster', cursive;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--main-background-color);
  min-height: 100vh;
}

.calc {
  display: grid;
  grid-template-rows: 1fr 3fr;
  margin: auto;
  box-shadow: inset 7px 7px 10px var(--calc-light-shadow), inset -7px -7px 10px var(--calc-dark-shadow);
  border-radius: var(--border-radius);
  background-color: var(--calc-main-color);
  padding: 0.6rem;
  max-width: 500px;
}

.screen-container {
  display: grid;
  align-items: end;
  justify-items: end;
  box-shadow: inset 2px 2px 10px #607677, inset -2px -2px 10px hsla(184, 39%, 25%, 0.377);
  border: solid 1px rgb(117, 117, 117);
  border-radius: var(--border-radius);
  background: #06140b9c;
  color: #021403c2;
}

.top-screen {
  padding-right: 0.8rem;
}

.bottom-screen {
  padding-right: 0.8rem;
  font-size: 2rem;
}

.btn-container {
  display: grid;
  grid: repeat(5, minmax(45px, 1fr)) / repeat(4, minmax(35px, 1fr));
  align-items: stretch;
  justify-items: stretch;
  gap: 15px;
  padding: 0.6rem;
}

.btn-container button {
  box-shadow: 5px 5px 10px var(--calc-dark-shadow), -5px -5px 10px var(--calc-light-shadow);
  border: none;
  border-radius: var(--border-radius);
  background: var(--calc-main-color);
  color: var(--button-text-color);
  font-size: 1rem;
  font-family: 'Lobster', cursive;
}

button:active {
  background: linear-gradient(145deg, var(--calc-dark-shadow), var(--calc-light-shadow));
}

button[value='+'] {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  font-size: 1.5rem;
}

button[value='-'] {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 4;
  font-size: 1.5rem;
}

button[value='='] {
  grid-column-start: 3;
  grid-column-end: 5;
}

button[value='/'] {
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
}

button[value='*'] {
  font-size: 0.8rem;
}

.logo-container {
  display: flex;
  align-content: center;
  align-items: stretch;
}

.logo {
  align-self: center;
  padding: 10px;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.logoImage {
  padding: 10px;
  width: 50px;
  height: 50px;
}

header,
footer {
  display: flex;
  flex: 0 1 auto;
  background-color: var(--header-footer-color);
  width: 100%;
  height: 75px;
}

header {
  margin-bottom: 10px;
  border-bottom: 10px solid var(--border-color);
  border-radius: 0 0 10px 10px;
}

footer {
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  border-top: 10px solid var(--border-color);
  border-radius: 10px 10px 0 0;
}

footer p {
  color: var(--secondary-color);
  text-decoration: underline;
}

footer img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 500px) {
  .calc {
    margin-top: 0;
    border-radius: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }

  .screen-container {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding-top: 20px;
  }

  header,
  footer {
    display: none;
  }
}
